In [1]:
import os

import requests
from tabula import read_pdf

# Read data from PDF tables

**Note:** This notebook does not perform OCR. It reads structured text (not images) from a PDF.

In [2]:
# The URL of the PDF file to download
url = "https://niva.brage.unit.no/niva-xmlui/bitstream/handle/11250/3126040/7963-2024.pdf?sequence=1&isAllowed=y"

# File to create
filename = "M2730.pdf"

# Page to read
page_no = 14

In [3]:
# Download temporary copy of PDF
try:
    response = requests.get(url, stream=True)
    response.raise_for_status()

    with open(filename, "wb") as file:
        for chunk in response.iter_content(chunk_size=8192):
            file.write(chunk)

    print(f"Successfully downloaded the PDF to '{filename}'")

except requests.exceptions.RequestException as e:
    print(f"An error occurred: {e}")

Successfully downloaded the PDF to 'M2730.pdf'

In [4]:
# Read a table from the PDF
df = read_pdf(filename, pages=page_no)[0]

# Remove local copy
os.remove(filename)

df.head(30)

,År,Akvakultur,Jordbruk,Avløp,Industri,Bakgrunn,Totalt,Menneskeskapt
0,1985,361,NaN,2687,601,1269,NaN,NaN
1,1990,1559,780.0,1003,262,1176,4781.0,3605.0
2,1991,1465,769.0,1003,274,968,4479.0,3510.0
3,1992,1370,747.0,1003,242,1107,4469.0,3362.0
4,1993,1707,707.0,1257,292,1027,4991.0,3964.0
5,1994,2246,693.0,1184,283,956,5362.0,4406.0
6,1995,2869,688.0,1528,273,1083,6442.0,5358.0
7,1996,3305,639.0,1357,215,610,6125.0,5559.0
8,1997,3772,636.0,1375,385,785,6953.0,6212.0
9,1998,4252,632.0,1302,401,701,7289.0,6631.0
10,1999,4254,629.0,1197,246,687,7013.0,6370.0
11,2000,4384,625.0,1081,245,793,7128.0,6379.0
12,2001,3874,767.0,1039,246,617,6542.0,5969.0
13,2002,4107,750.0,1163,253,681,6954.0,6317.0
14,2003,5001,749.0,1163,264,661,7838.0,7221.0
15,2004,4936,740.0,1124,321,683,7805.0,7166.0
16,2005,5434,736.0,1126,271,776,8344.0,7612.0
17,2006,6915,747.0,1152,288,667,9769.0,9146.0
18,2007,7195,735.0,1150,286,769,10136.0,9410.0
19,2008,7125,722.0,1154,400,706,10106.0,9443.0
20,2009,8088,709.0,1134,315,689,10936.0,10290.0
21,2010,8078,710.0,1091,335,583,10797.0,10257.0
22,2011,8396,696.0,1166,326,745,11328.0,10627.0
23,2012,9382,732.0,1088,363,705,12270.0,11608.0
24,2013,9110,758.0,1175,292,654,11989.0,11379.0
25,2014,9927,687.0,1201,303,687,12805.0,12161.0
26,2015,9948,745.0,1162,212,752,12819.0,12111.0
27,2016,9781,756.0,1287,289,650,12762.0,12156.0
28,2017,10350,742.0,1225,341,753,13411.0,12701.0
29,2018,10404,796.0,1255,310,683,13448.0,12809.0